:root{
--background-color: #F7FAFC;
--background-color-box:#fff;
--color-sidebar-bg: #220646;
--color-primary-dark: #553C9A;
  --color-primary-light: #6B46C1;
--color-primary: #6C5DD3;
--color-btn-lg:#15012E;
--color-body-text-light:#a0aec0ce;
--color-table-text:#718096;
--color-body-text-dark:#4A5568;
--color-table-head-bg:#EDF2F7;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-family: 'Roboto', sans-serif;
background:var(--background-color);
height: 100vh;
display:grid;
 grid-template-columns: auto 1fr;
}

/* sidebar */
#sidebar{
background-color: var(--color-sidebar-bg);
width:253px;
color:#fff;

}
.logo{
    font-size: 1rem;
    width: 45px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin:0 0 4.5em 0;
    img{
        width:100%;
        margin: 0.6em;
    }
}
 #sidebar ul{
    list-style: none;
    padding: 0 0 0 3.7em; 
   
}
 #sidebar li{
    display: flex;
    align-items: center;
    /* margin: 2em 0; */
    padding: 2em 0;

}
#sidebar ul li.active{
    font-weight: bold;
    border-right:6px solid #E03386;
    border-radius: 2px;
}
nav #logout{
margin:28.5em 0 0 0;
background-color:var(--color-btn-lg);
padding: 20px 139px 21px 61px;
width: 100%;
color : white;
border: none;
font-size: 1rem;
}

/* top-navigation */

#top-navigation{
height: 5em;
background-color: var(--background-color-box);
display: flex;
justify-content:space-between;
align-items: center;
/* margin: 0 28px 0 40px; */

}

#top-navigation #item1 span{
margin: 0 40px 0 18px;
padding: 30px 0px;
color: var(--color-body-text-light);
font-weight: 400;

}
#top-navigation #item1 .search-background{
    padding: 10px 0 10px 15px;
    box-sizing: border-box;
    border: 1px solid var(--color-body-text-light) ;
    border-radius: 4px;
    color: var(--color-body-text-light);
    height: 40px;
  
} 
  input{
         border: none;
         height: 100%;
         padding: 10px 0;
    }
    input:focus, textarea:focus, select:focus, button:focus {
        outline: none;
        }
    input::placeholder {
         color: var(--color-body-text-light); 
        /* opacity: 2;       */
        }
#top-navigation #item2{
    display: flex;
    align-items: center;
}
#top-navigation #item2 span{
margin:0 18px 0 0;
color: var(--color-body-text-dark);
}
.icon-box {
  position: relative;
  display: inline-block;
}

/* Icon */
.item2-img {
  color: var(--color-body-text-light);
  /* opacity: 0.5; */
  font-size: 20px;
}

/* Red notification dot */
.circle {
  position: absolute;
  top: 0;
  right: -5px;
  font-size: 10px;
  color: #E22E1C;
}
.nav-btn{
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: var(--color-primary-light);
    color: white;
}
.avatar-wrapper {
  position: relative;
  display: inline-block;
}
.profile-img{
    height:45px ;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
 #profile-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: #4CAF50;
  border: 2px solid white;
  border-radius: 50%;
}

/* table container */
.table-container{
background-color: white;
height: 100vh;
}
#item3{
    padding: 0 37px 0 8px;
    color: var(--color-body-text-dark);
}
#new-items-batch{
    padding: 3px 6px;
    background-color: #4FD1C5;
    color: white;
    border-radius: 4px;
}
.add-btn{
    padding: 15px;
    border-radius: 4px;
    border: none;
    background-color: var(--color-primary-dark);
    color: white;
    cursor: pointer;
}
table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        background-color:var(--color-table-head-bg);
        color:var(--color-body-text-dark);
        text-align: left;
        font-size: 14px;
    }

    thead th {
        padding: 15px;
    }

    tbody tr {
        border-top: 1px solid #E2E8F0;
    }

    tbody td {
        padding: 18px 15px;
        color:var(--color-table-text);
        font-size: 14px;
    }

    tbody tr:hover {
        background-color: #f9fafb;
    }

    .product-name {
        color:var(--color-table-text);
        
    }

    .action a {
        text-decoration: none;
        margin-right: 15px;
        font-weight: 500;
    }

    .edit {
       color:var(--color-table-text);
    }

    .delete {
        color:var(--color-table-text);
    }

#formContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 90%;
    max-width: 350px;

    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#done-btn{
    padding: 8px;
    color: wheat;
    background-color: #6B46C1;
    border-radius: 4px;
    border: none;
}

    /* bottom  */

    .table-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    background: #f9fafb;
    border-top: 1px solid #e5e7eb;
    border-radius: 0 0 8px 8px;
    margin-left: 25%;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6b7280;
    font-size: 14px;
}

.page {
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.page:hover {
    background: #e5e7eb;
}

.page.active {
    background: #ec4899;
    color: white;
}

.arrow {
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
}

.dots {
    padding: 0 5px;
}

/* Dropdown */
.items-dropdown select {
    padding: 8px 12px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    background: white;
    color: #6b7280;
    font-size: 14px;
    outline: none;
}
.card-container{
    display: none;
}
.hamburger {
    display: none;
    /* font-size: 2rem;
    cursor: pointer;
    padding: 10px; */
}
#hum-sidebar{
    display: none;
}

/* Responsive-layout */

@media (min-width: 538px) and (max-width: 768px) {
    body{
        /* display: flex; */
        /* display:grid; */
 grid-template-columns: none;
 height: 100vh;
 width: 100vw;
    }
#sidebar{
    display: none;
}
  
#formContainer input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

    /* SIDEBAR BASE */
#hum-sidebar {
    display: block;
    position: fixed;
    left: -100%;
    top: 0;
    width: 250px;          
    height: 100%;
    background-color:var(--color-sidebar-bg); 
    color: white;
    transition: 0.3s;
    z-index: 1000;
    padding-top: 20px;
}

/* SHOW */
#hum-sidebar.active {
    left: 0;
}

/* LIST STYLE */
#hum-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.logo img {
    width: 40px;
}

/* MENU ITEMS */
#hum-sidebar li {
    padding: 15px 20px;
    cursor: pointer;
}

#hum-sidebar li:hover {
    background-color: #33334d;
}

/* ACTIVE ITEM */
#hum-sidebar li.active {
    background-color: #E03386;
}

/* LOGOUT BUTTON */
#side-logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 10px;
    background: var(--color-btn-lg);
    color: white;
    border: none;
}

/* HAMBURGER */
.hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    background: var(--color-sidebar-bg);
    color: white;
}
    
.container{
    width: 100vw;
    margin:0 auto;
}
.table-container{
height: auto;
width: 100vw;
}
table{
display: none;
    }
#top-navigation{
height: 5em;
background-color: var(--background-color-box);
display: flex;
/* justify-content:space-between; */
align-items: center;
width: 100vw;
/* margin: 0 28px 0 40px; */

}

#top-navigation #item1 span{
margin: 0 40px 0 22px;
padding: 30px 0px;
color: var(--color-body-text-light);
font-weight: 400;

}
#top-navigation #item1{
    /* padding: 10px 0 10px 15px; */
    color: var(--color-body-text-light);
    /* height: 40px; */
    /* width: 100%; */
  
} 
.search-background{
display: none;
}
  input{
    display: none;
    }

#top-navigation #item2{
    display: flex;
    align-items: center;
    font-size: 12px;
}
#top-navigation #item2 span{
margin:0 15px 0 0;
color: var(--color-body-text-dark);
}
.nav-btn{
    font-size: 12px;
}
/* Icon */
.item2-img {
  color: var(--color-body-text-light);
  /* opacity: 0.5; */
  font-size: 12px;
}

/* Red notification dot */
.circle {
  position: absolute;
  top: 2px;
  right: -1px;
  font-size: 8px;
  color: #E22E1C;
}
.table-head{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
}
#item3{
    margin-right: auto;
    font-size: 14px;
}
/* #top-navigation #item1 .search-background{
    display: block
} */
.add-btn{
    width: 90vw;
}
.items-dropdown select{
    display: none;
}
.table-bottom{
    border: none;
}
.card-container{
    display: block;
    /* width: 400px; */
    margin: 20px auto;
    height: auto;
     width: 100vw;
}
.cards{
    background-color: white;
    width: 90vw;
    margin: 0 auto;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
}
.card{
    padding: 20px;
     border: 1px solid rgb(206, 204, 204);
    border-radius: 10px;
}
.content{
    color: var(--color-body-text-dark);
    font-size: medium;
}
.space1{
    margin: 5px 0;
    
}
.space2{
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    
}
.btn-sp{
    margin: 4px;
}
.btn-card{
    padding: 8px;
    border: none;
    border-radius: 4px;
}
.pagination{
        font-size: 18px;
}
.arrow{
    font-size: 45px;
}

#formContainer {
    position: fixed;
    top: 20%;
    left: 80%;
    transform: translateX(-50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px gray;
}
}

/* mobile view */
@media (min-width: 320px) and (max-width:537px) {

    #formContainer {
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translateX(-50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px gray;
}
   #top-navigation #item2 #help {
    display: none;
}

#top-navigation #item2 #inbox {
    display: none;
}
        body{
 grid-template-columns: none;
 height: 100vh;
 width: 100vw;
    }
#sidebar{
    display: none;
}
  

    /* SIDEBAR BASE */
#hum-sidebar {
    display: block;
    position: fixed;
    left: -100%;
    top: 0;
    width: 250px;          
    height: 100%;
    background-color:var(--color-sidebar-bg); 
    color: white;
    transition: 0.3s;
    z-index: 1000;
    padding-top: 20px;
}

/* SHOW */
#hum-sidebar.active {
    left: 0;
}

/* LIST STYLE */
#hum-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.logo img {
    width: 40px;
}

/* MENU ITEMS */
#hum-sidebar li {
    padding: 15px 20px;
    cursor: pointer;
}

#hum-sidebar li:hover {
    background-color: #33334d;
}

/* ACTIVE ITEM */
#hum-sidebar li.active {
    background-color: #E03386;
}

/* LOGOUT BUTTON */
#side-logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 10px;
    background: var(--color-btn-lg);
    color: white;
    border: none;
}

/* HAMBURGER */
.hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    background: var(--color-sidebar-bg);
    color: white;
    width: 100%;
}
    
.container{
    width: 100vw;
    /* margin:0 auto; */
}
.table-container{
height: auto;
width: 100vw;
}
table{
display: none;
    }
#top-navigation{
height: 5em;
background-color: var(--background-color-box);
display: flex;
justify-content:space-between;
align-items: center;
width: 100vw;
/* margin: 0 28px 0 40px; */

}

#top-navigation #item1 span{
/* margin: 0 40px 0 22px; */
padding: 30px 0px;
color: var(--color-body-text-light);
font-weight: 400;

}
#top-navigation #item1{
    /* padding: 10px 0 10px 15px; */
    color: var(--color-body-text-light);
    /* height: 40px; */
    width: 100%;
  
} 
.search-background{
display: none;
}
  input{
    display: none;
    }

#top-navigation #item2{
    display: flex;
    align-items: center;
    font-size: 12px;
}
#top-navigation #item2 span{
margin:0 2px 0 0;
color: var(--color-body-text-dark);
}
.nav-btn{
    font-size: 10px;
        padding: 8px;
}
/* Icon */
.item2-img {
  color: var(--color-body-text-light);
  /* opacity: 0.5; */
  font-size: 12px;
}

/* Red notification dot */
.circle {
  position: absolute;
  top: 2px;
  right: -1px;
  font-size: 8px;
  color: #E22E1C;
}
.table-head{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
}
#item3{
    margin-right: auto;
    font-size: 14px;
}
/* #top-navigation #item1 .search-background{
    display: block
} */
.add-btn{
    width: 90vw;
}
.items-dropdown select{
    display: none;
}
.table-bottom{
    border: none;
}
.card-container{
    display: block;
    /* width: 400px; */
    margin: 20px auto;
    height: auto;
     width: 100vw;
}
.cards{
    background-color: white;
    width: 90vw;
    margin: 0 auto;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
}
.card{
    padding: 20px;
     border: 1px solid rgb(206, 204, 204);
    border-radius: 10px;
}
.content{
    color: var(--color-body-text-dark);
    font-size: medium;
}
.space1{
    margin: 5px 0;
    
}
.space2{
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    
}
.btn-sp{
    margin: 4px;
}
.btn-card{
    padding: 8px;
    border: none;
    border-radius: 4px;
}
.pagination{
    margin: -113px;
}
#formContainer input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}
}