:root{
--background-color: #F7FAFC;
--background-color-box:#fff;
--color-sidebar-bg: #220646;
--color-primary-dark: #553C9A;
  --color-primary-light: #6B46C1;
--color-primary: #6C5DD3;
--color-btn-lg:#15012E;
--color-body-text-light:#a0aec0ce;
--color-table-text:#718096;
--color-body-text-dark:#4A5568;
--color-table-head-bg:#EDF2F7;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-family: 'Roboto', sans-serif;
background:var(--background-color);
height: 100vh;
display:grid;
 grid-template-columns: auto 1fr;
}

/* sidebar */
#sidebar{
background-color: var(--color-sidebar-bg);
width:253px;
color:#fff;

}
.logo{
    font-size: 1rem;
    width: 45px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin:0 0 4.5em 0;
    img{
        width:100%;
        margin: 0.6em;
    }
}
 #sidebar ul{
    list-style: none;
    padding: 0 0 0 3.7em; 
   
}
 #sidebar li{
    display: flex;
    align-items: center;
    /* margin: 2em 0; */
    padding: 2em 0;

}
#sidebar ul li.active{
    font-weight: bold;
    border-right:6px solid #E03386;
    border-radius: 2px;
}
nav #logout{
margin:28.5em 0 0 0;
background-color:var(--color-btn-lg);
padding: 20px 139px 21px 61px;
width: 100%;
color : white;
border: none;
font-size: 1rem;
}

/* top-navigation */

#top-navigation{
height: 5em;
background-color: var(--background-color-box);
display: flex;
justify-content:space-between;
align-items: center;
/* margin: 0 28px 0 40px; */

}

#top-navigation #item1 span{
margin: 0 40px 0 22px;
padding: 30px 0px;
color: var(--color-body-text-light);
font-weight: 400;

}
#top-navigation #item1 .search-background{
    padding: 10px 0 10px 15px;
    box-sizing: border-box;
    border: 1px solid var(--color-body-text-light) ;
    border-radius: 4px;
    color: var(--color-body-text-light);
    height: 40px;
  
} 
  input{
         border: none;
         height: 100%;
         padding: 10px 0;
    }
    input:focus, textarea:focus, select:focus, button:focus {
        outline: none;
        }
    input::placeholder {
         color: var(--color-body-text-light); 
        /* opacity: 2;       */
        }
#top-navigation #item2{
    display: flex;
    align-items: center;
}
#top-navigation #item2 span{
margin:0 38px 0 0;
color: var(--color-body-text-dark);
}
.icon-box {
  position: relative;
  display: inline-block;
}

/* Icon */
.item2-img {
  color: var(--color-body-text-light);
  /* opacity: 0.5; */
  font-size: 20px;
}

/* Red notification dot */
.circle {
  position: absolute;
  top: 0;
  right: -5px;
  font-size: 10px;
  color: #E22E1C;
}
.nav-btn{
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: var(--color-primary-light);
    color: white;
}
.avatar-wrapper {
  position: relative;
  display: inline-block;
}
.profile-img{
    height:45px ;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
 #profile-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: #4CAF50;
  border: 2px solid white;
  border-radius: 50%;
}
.table-container{
margin: 14px;
background-color: white;
height: 100vh;
}
#item3{
    padding: 0 37px 0 8px;
    color: var(--color-body-text-dark);
}
#new-items-batch{
    padding: 3px 6px;
    background-color: #4FD1C5;
    color: white;
    border-radius: 4px;
}
.add-btn{
    padding: 15px;
    border-radius: 4px;
    border: none;
    background-color: var(--color-primary-dark);
    color: white;
}
table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        background-color:var(--color-table-head-bg);
        color:var(--color-body-text-dark);
        text-align: left;
        font-size: 14px;
    }

    thead th {
        padding: 15px;
    }

    tbody tr {
        border-top: 1px solid #E2E8F0;
    }

    tbody td {
        padding: 18px 15px;
        color:var(--color-table-text);
        font-size: 14px;
    }

    tbody tr:hover {
        background-color: #f9fafb;
    }

    .product-name {
        color:var(--color-table-text);
        
    }

    .action a {
        text-decoration: none;
        margin-right: 15px;
        font-weight: 500;
    }

    .edit {
       color:var(--color-table-text);
    }

    .delete {
        color:var(--color-table-text);
    }

    /* bottom  */

    .table-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    background: #f9fafb;
    border-top: 1px solid #e5e7eb;
    border-radius: 0 0 8px 8px;
    margin-left: 25%;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6b7280;
    font-size: 14px;
}

.page {
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.page:hover {
    background: #e5e7eb;
}

.page.active {
    background: #ec4899;
    color: white;
}

.arrow {
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
}

.dots {
    padding: 0 5px;
}

/* Dropdown */
.items-dropdown select {
    padding: 8px 12px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    background: white;
    color: #6b7280;
    font-size: 14px;
    outline: none;
}




/* Responsive-layout */

@media (max-width: 768px) {

}

@media (max-width: 1024px) {

}